<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.batch.mapper.ProductMapper">
    <insert id="insertBatch">
        INSERT IGNORE INTO product
            (
                asin,
                main_cat,
                title,
                also_view,
                image_url_high_res
            )
        VALUES
        <foreach collection="list" item="product" separator=",">
            (
                #{product.asin},
                #{product.main_cat},
                #{product.title},
                #{product.also_view,typeHandler=StringListTypeHandler},
                #{product.imageURLHighRes,typeHandler=StringListTypeHandler}
            )
        </foreach>
    </insert>
</mapper>
